{% extends 'base.html' %} {% block content %} {% block title %} All Posts {%
endblock %}
<div style="margin-bottom: 200px !important;" class="row row-cols-3">
	{% for post in all_posts %}
	<div
		class="card text-white border-dark bg-primary mb-2 ml-5 mr-2 mt-2"
		style="max-width: 18rem;"
	>
		<div class="card-header">Author: {{post.author}}</div>
		<div class="card-body">
			<h5 class="card-title">Title: {{post.title}}</h5>
			<p class="card-text">{{post.text}}</p>
			<small>Date posted: {{post.date_posted}}</small>
			<a class="btn btn-danger" href="/post/delete/{{post.id}}">
				Delete
			</a>
			<a class="btn btn-success" href="/post/edit/{{post.id}}">
				Edit
			</a>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
